* {
  color: darkblue;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
}

h1 {
    font-size: 48px;
}

.scores {
    text-align: left;
}

.timer {
    text-align: right;
}